html *
{
   font-family: Helvetica !important;
   font-size: 120%; !important
}
html, body {
    padding: 0;
	text-align: center;
	color: Azure;
}
canvas {
    display: block;
	align: center;
}
a {
	text-align: center;
	color: Azure;
}
h1 {
	border:2px solid DodgerBlue;
}
h3,h2 {
	border:2px solid DodgerBlue;
}
body{
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
