@font-face {
	font-family: banshrift-custom;
	src: url(https://jiraffe1.github.io/web/assets/bahnschrift.ttf);
}

html *
{
   font-family: banshrift-custom, Helvetica, arial !important;
   font-size: 120% !important;
}
html, body {
    padding: 0;
	text-align: center;
	color: Azure;
}
canvas {
    display: block;
	padding: 0;
	margin: auto;
}
a {
	text-align: center;
	color: Azure;
}
h1, h2, h3 {
	border:2px solid DodgerBlue;
}
body{
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
