html *
{
   font-family: Helvetica, arial;
   font-size: 105%;
}
h1 {
	background-color: rgba(247, 9, 9, 0.77);
	padding: 15px;
	border-radius: 25px;
	font-size: 130%;
}
ul {
	background-color: rgba(49, 216, 16, 0.1);
}
h2, h3 {
	background-color: rgba(49, 216, 16, 0.65);
	padding: 10px;
	border-radius: 25px;
}
p {
	background-color: rgba(49, 216, 16, 0.2);
	padding: 10px;
	border-radius: 25px;	
}
html, body {
	
    padding: 0;
	color: rgb(0, 0, 0);
  background-color: lightgray
}
canvas {
  display: block;
	padding: 5px 5px;
	margin: auto;
}
iframe {
	display: block;
	padding: 5px 5px;
	margin: auto;
}

a {
	background-color: rgba(9, 52, 194, 0.7);
	color: azure;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
input {
    display: block;	
}
